/2_crawler/html/
/3_crawler/html/
/4_lucene/samples4
/4_lucene/docs
/4_lucene/index
/4_lucene/seg
/4_lucene/html
/4_lucene/sample_code
/4_lucene/testdir
/5_lucene_pict/docs
/5_lucene_pict/html
/6_web.py/docs
/6_web.py/html